{% extends 'base.html.twig' %}

{% block title %}Hello Home de EZ-CHECKIN!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<body>
    <section class="row contact-us">
        <article class="col-md-6"> 
          <div class="content-all">
        <div class="content-carrousel">
                <figure><img width="1450px" src="/images/olas.png" alt=""></figure>
            </a></div></div></article>
</body>
            </div>
            <section>
            <div class="btn-group mt-1">
                <button class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
                    Destination
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    
                </ul>
            </div>
            </section>
            <section>
            <div class="btn-group mt-1">
                <button class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
                    Check-In
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    
                </ul>
            </div>
            </section>
            <section>
            <div class="btn-group mt-1">
                <button class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
                    Check-Out
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    
                </ul>
            </div>
            </section>
            <section>
            <div class="btn-group mt-1">
                <button class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
                    Guests
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    
                </ul>
            </div>
            </section>
            <section>
            <div class="btn-group mt-1">
                <button class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
                    Search
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    
                </ul>
            </div>
            </section>
        </div>
      
    <section>
     <div class="container">
     <div class="row pb-12">
         <!-- Columna 1 -->
         <div class="col-sm-12 col-md-3">
        <nav class="btn1 btn-outline-white" style="background-color: transparente;margin-top:30px;">
           <a class="btn1 btn-outline-light" href= "http://127.0.0.1:8000/programacion"><img width="250px" height="140px" src="/images/cama.png"><h2>Departamentos
           </h2></a>    
       </div>
        
        <!-- Columna 2 -->
        <div class=" col-sm-12 col-md-3">
    
        <nav class="btn3 btn-outline-white" style="background-color: transparente;margin-top:30px;">
           <a class="btn3 btn-outline-light" href= "http://127.0.0.1:8000/libros"><img width="250px" height="140px" src="/images/cama.png"><h2>Departamento</h2></a>    
       </div>
       <!-- Columna 3 -->
        <div class=" col-sm-12 col-md-3">
    
        <nav class="btn3 btn-outline-white" style="background-color: transparente;margin-top:30px;">
           <a class="btn3 btn-outline-light" href= "http://127.0.0.1:8000/libros"><img width="250px" height="140px" src="/images/cama.png"><h2>Departamento</h2></a>    
       </div>
       <!-- Columna 4 -->
        <div class=" col-sm-12 col-md-3">
    
        <nav class="btn3 btn-outline-white" style="background-color: transparente;margin-top:30px;">
           <a class="btn3 btn-outline-light" href= "http://127.0.0.1:8000/libros"><img width="250px" height="140px" src="/images/cama.png"><h2> Departamento</h2></a>    
       </div>
    </div>
    </div>
    </section>
    <section class="row servicios">
    <div class="row pb-12">
        <figure class="col-md-4">
            <a class="servicios__CERO" href="//">
                <figcaption>
                    RENTA DE <br> HOTELES <br> EN ROSARITO
                </figcaption>
            </a>
        </figure>
        <figure class="col-md-4">
            <a class="servicios__UNO" target="_blank" href="">
                <figcaption>
                    RENTA DE <br /> HOTELES <br /> EN ROSARITO
                </figcaption>
            </a>
        </figure>
         <figure class="col-md-4">
            <a class="otros-servicios__image" href="">
                <figcaption>OTROS SERVICIOS <br> RESTAURANTES</figcaption>
            </a>
        </figure>
        </div>
    </section>

    <section class="row otros-servicios">
        <figure class="col-md-4">
            <a class="otros-servicios__image" href="">
                <figcaption>OTROS SERVICIOS <br> RESTAURANTES</figcaption>
            </a>
        </figure>
    </section>
    
{% endblock %}
