{% extends 'base.html.twig' %}

{% block title %}EZ-CheckIn!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<body>
    <section class="row contact-us">
        <article class="col-md-6"> 
          <div class="content-all">
        <div class="content-carrousel">
                <figure><img width="1450px" src="/images/olas.png" alt=""></figure>
            </a></div></div></article>
</body>
            </div>
            {# <section>
            <div class="btn-group mt-1">
                <button class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
                    Destination
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    
                </ul>
            </div>
            </section>
            <section>
            <div class="btn-group mt-1">
                <button class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
                    Check-In
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    
                </ul>
            </div>
            </section>
            <section>
            <div class="btn-group mt-1">
                <button class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
                    Check-Out
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    
                </ul>
            </div>
            </section>
            <section>
            <div class="btn-group mt-1">
                <button class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
                    Guests
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    
                </ul>
            </div>
            </section>
            <section>
            <div class="btn-group mt-1">
                <button class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
                    Search
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    
                </ul>
            </div>
            </section> #}
        </div>
    <p><strong>!!!Descubre mas de </p>
    <section>
    <p><strong>~ Ez-Checkin!</p> 
     <div class="container">
     <div class="row pb-12">
         <!-- Columna 1 -->
         <div class="col-sm-12 col-md-3">
        <nav class="btn1 btn-outline-blue" style="background-color: transparente;margin-top:30px;">
           <a class="btn1 btn-outline-blue" href= "http://127.0.0.1:8000/programacion"><img width="250px" height="140px" src="/images/aventura.png"><h>Adventure!</h></a>    
       </div>
        
        <!-- Columna 2 -->
        <div class=" col-sm-12 col-md-3">
    
        <nav class="btn3 btn-outline-blue" style="margin-top:30px;">
           <a class="btn3 btn-outline-blue" href= "http://127.0.0.1:8000/libros"><img width="250px" height="140px" src="/images/experiencia.png"><h>Experiences!</h></a>    
       </div>
        <div class=" col-sm-12 col-md-3">
    
        <nav class="btn3 btn-outline-blue" style="margin-top:30px;">
           <a class="btn3 btn-outline-blue" href= "http://127.0.0.1:8000/libros"><img width="250px" height="140px" src="/images/event.png"><h>Events!</h></a>    
       </div>
    </div>
    </div>
    </section>
    <section>
    <div class="container my-4">

    <p><strong>Encuentra las propiedades mas populares</p>

    <hr class="my-4">

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Third slide-->

      </div>
      <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->


  </div>
    </section>

    <!--/. segunda parte aqui van los lugares destacados-->

       <section>
    <div class="container my-4">

    <p><strong>Destinos destacados</p>

    <hr class="my-4">

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Glamorous Vintage Beach Home! In Rosarito!</h4>
                  <p class="card-text">San Antonio Del Mar, Rosarito Condos / Entire Home.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">My Jr Penthouse</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Third slide-->

      </div>
      <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->


  </div>
    </section>
    <!--/.Este es el fin del segundo carrousell-->

    <section class="row servicios">
    <div class="row pb-12">
        <figure class="col-md-4">
            <a class="servicios__UNO" target="_blank" href="">
                <figcaption>
                <br /> Ven a Valle de Guadalupe y Conoce<br> ~ Ruta 3 del Vino!
                </figcaption>
            </a>
        </figure>
         <figure class="col-md-4">
            <a class="otros-servicios__image" href="">
                <figcaption><br> Quieres alquilar un auto?</figcaption>
            </a>
        </figure>
        <figure class="col-md-4">
            <a class="otros-servicios__image" href="">
                <figcaption><br> Restaurantes Populares en Baja California Mexico.</figcaption>
            </a>
        </figure>
        </div>
    </section>
    <section class="row servicios1">
    <div class="row pb-12">
        <figure class="col-md-12">
            <a class="servicios__UNO" target="_blank" href="">
                <figcaption>
                <br /> Casas de Vacaciones!
                </figcaption>
            </a>
        </figure>
        </div>
    </section>
     <section class="row servicios1">
    <div class="row pb-12">
        <figure class="col-md-12">
            <a class="servicios__UNO" target="_blank" href="">
                <figcaption>
                <br /> Villas de Vacaciones!
                </figcaption>
            </a>
        </figure>
        </div>
    </section>
     <section class="row servicios1">
    <div class="row pb-12">
        <figure class="col-md-12">
            <a class="servicios__UNO" target="_blank" href="">
                <figcaption>
                <br/> Encuentra rentas vacacionales con alberca!
                </figcaption>
            </a>
        </figure>
        </div>
    </section>
     <section class="row servicios1">
    <div class="row pb-12">
        <figure class="col-md-12">
            <a class="servicios__UNO" target="_blank" href="">
                <figcaption>
                <br /> Rentas vacacionales en la playa!
                </figcaption>
            </a>
        </figure>
        </div>
    </section>
     <section class="row servicios1">
    <div class="row pb-12">
        <figure class="col-md-12">
            <a class="servicios__UNO" target="_blank" href="">
                <figcaption>
                <br /> Destinos Populares!
                </figcaption>
            </a>
        </figure>
        </div>
    </section>
    <div><img height="75" src="/images/ez-checkin.png" width="180"></a></div></li>
     <section class="row servicios1">
      <div class="row pb-12">
        <figure class="col-md-12">
            <a class="servicios__UNO" target="_blank" href="">
                <figcaption>
                <br /> Reserva con EZ-CheckIn. <br/>Anuncia Tu Propiedad.
                </figcaption>
            </a>
        </figure>
        </div>
    </section>
     <section class="row servicios1">
      <div class="row pb-12">
        <figure class="col-md-12">
            <a class="servicios__UNO" target="_blank" href="">
                <figcaption>
                <br /> Quien es EZ-CheckIn.
                </figcaption>
            </a>
        </figure>
        </div>
    </section>
{% endblock %}
